body { 
	background-color: #e0e0e0;
	margin: 20px; 
	line-height: 1.2em;
}

h1, h2, h3 { 
	color: #404040; 
}

hr { 
	text-align: center ;
}

a { 
	color: #4000ff;
    	font-weight: bold; 
}

a:link, a:visited { 
	text-decoration: none ;
}

a:hover { 
	text-decoration: underline;
}

div.text { 
	margin-bottom: 10px;
}

td.page { 
	background-color: #ffffff; 
	width: 100%;
}

.jesusquote { 
	color: red ;
}

.versenumber { 
	vertical-align: super;
	font-size: 0.7em ; 
}

.biblename { 
	text-align: right ;
	color: #202020 ;
	font-style: italic; 
 	font-size: small;
}

img.tableimg { 
	display: block;
	margin: 0px;
	padding: 0px;
	border: none; 
}

.error { 
	font-size: 1.2em ;
	color: red ; 
}

.fixme { 
	font-size: 1.2em ;
	color: red ; 
}

h1.moduletitle, h2.moduletitle, h1.bibleref, h2.biblref {
	text-align: center; 
}

h1.moduleslist { 
	text-align: center; 
}

.links { 
	font-size: small;
	text-align: center;
}
div.links { 
	margin-top: 5px;
	padding-top: 5px;
	border-top: solid black 1px;
}

table.settings {  
	border-top: 1px solid black; 
        border-left: 1px solid black; 
}
table.settings td,
table.settings th {  
	border-right: 1px solid black; 
	border-bottom: 1px solid black;
	margin: 0px;
}


table.settings th { 
	padding: 3pt 5pt 3pt 5pt ;
	vertical-align: middle;
        text-align: center;
        background-color: #c0c0c0;
}

table.settings td { 
	padding: 2pt 5pt 2pt 5pt;
	vertical-align: top;
	text-align: left;
	background-color: white;
}


table.settings  td.settings_category { 
	text-align: center; 
	vertical-align: middle; 
	font-weight: bold ;
	background-color: #e0e0e0;
}

h1.searchform { 
	text-align: center;
}

div.searchform { 
	text-align: center;
}
div.searchform table { 
	margin: auto;
}


.strongs, .morph {
	font-size: small;
	font-style: italic;
}

div.navbottom,
div.navtop { 
	font-size: 0.9em; 
	text-align: right;
	margin-top: 1em;
}
div.navbottom {
	border-top: solid #808080 1px;
	padding-top: 0px;
	margin-top: 0px;
}

div.navtop { 
	border-bottom: solid #808080 1px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

div.navtop li,
div.navbottom li {
	display: inline;
}

div.navtop li:before,
div.navbottom li:before {
	content: "| ";
}

div.navtop  li.first:before,
div.navbottom  li.first:before {
	content: ""
}

div.navtop ul,
div.navbottom ul {
	margin-bottom: 0px;
	margin-top: 0px
}

/*******************************/
/*    Simple page settings     */


body.simplepage div.text {
/*	width: 85%;*/
}


body.simplepage div.links {
	float: clear;

}


body.simplepage { 
	margin: 0px;
	background: white;
}

div.simplepage { 
	background: #e0e0ff;
	margin: 30px 0px 30px 0px;
	padding: 15px;
	border-top: 3px double black;
	border-bottom: 3px double black;
}

div.simplepage > * { 
	margin-top: 0px;
	padding-top: 0px;
}
div.simplepage > * > *{ 
	margin-top: 0px;
	padding-top: 0px;
}

body.simplepage a { 
	color: blue;
    	font-weight: bold; 
}

body.simplepage a:link, a:visited { 
	text-decoration: none ;
}

body.simplepage h1, 
body.simplepage h2, 
body.simplepage h3 { 
	color: #000040; 
}


body.simplepage div.navbottom {
	display: none;
}

body.simplepage div.navtop {
	float: right;
	font-size: 0.9em; 
	text-align: left;
	border:  1px solid black;
	background-color: #e8e8ff;
}

body.simplepage div.navtop li {
	display: list-item;
	margin-left: 0px;
	padding-left: 0px;
	white-space: nowrap;
	list-style-position: inside;
}

body.simplepage div.navtop li:before {
	content: ""
}

body.simplepage div.navtop ul {
	margin: 1em;
	padding: 0em;

}

body.simplepage div.links {
	float: clear;
}
