body { 
	background-color: #e0e0e0;
	margin: 20px; 
}


body.sword_simplepage { 
	background-color: #ffffff;
	margin: 15px; 
}


h1, h2, h3 { 
	color: #404040; 
}

hr { 
	text-align: center ;
}

a { 
	color: #4000ff;
    	font-weight: bold; 
}

a:link, a:visited { 
	text-decoration: none ;
}

a:hover { 
	text-decoration: underline;
}


div.sword_text { 
	margin-bottom: 10px;
}
td.sword_text { 
	background-color: #ffffff; 
}
.sword_jesusquote { 
	color: red ;
}
.sword_versenumber { 
	vertical-align: super;
	font-size: 0.7em ; 
}

.sword_biblename { 
	text-align: right ;
	color: #202020 ;
	font-style: italic; 
 	font-size: small;
}

img.sword_tableimg { 
	display: block;
	margin: 0px;
	padding: 0px;
	border: none; 
}

.sword_error { 
	font-size: 1.2em ;
	color: red ; 
}

.sword_fixme { 
	font-size: 1.2em ;
	color: red ; 
}

h1.sword_moduletitle, h2.sword_moduletitle, h1.sword_bibleref, h2.sword_biblref {
	text-align: center; 
}

h1.sword_moduleslist { 
	text-align: center; 
}

.sword_links { 
	font-size: small;
	text-align: center;
}
div.sword_links { 
	margin-top: 10px;
	padding-top: 10px;
	border-top: solid black 1px;
}

table.sword_settings {  
	border-top: 1px solid black; 
        border-left: 1px solid black; 
}
table.sword_settings td,
table.sword_settings th {  
	border-right: 1px solid black; 
	border-bottom: 1px solid black; 
	margin: 0px;
}


table.sword_settings th { 
	padding: 3pt 5pt 3pt 5pt ;
	vertical-align: middle;
        text-align: center;
        background-color: #c0c0c0;
}

table.sword_settings td { 
	padding: 2pt 5pt 2pt 5pt;
	vertical-align: top;
	text-align: left;
}


table.sword_settings  td.sword_settings_category { 
	text-align: center; 
	vertical-align: middle; 
	font-weight: bold ;
	background-color: #e0e0e0;
}

h1.sword_searchform { 
	text-align: center;
}

div.sword_searchform { 
	text-align: center;
}
div.sword_searchform table { 
	margin: auto;
}

div.sword_navbottom { 
	border-top: solid #808080 1px;
	font-size: 0.9em; 
	text-align: right;
	margin-top: 1em;
}

div.sword_navtop { 
	border-bottom: solid #808080 1px;
	font-size: 0.9em; 
	text-align: right;
}

.sword_strongs, .sword_morph {
	font-size: small;
	font-style: italic;
}
